:root {
  --primary-color: white;
}

* {
  margin: 0%;
  padding: 0%;
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  background-image: url(../images/ba1.jpg);
  color: var(--primary-color);
  height: 100vh;
}

.main-text {
  padding-left: 51vw;
  padding-right: 9vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.5);

}



.text-oradores,
.card-text {
  font-size: small;
  line-height: 1.5rem;
  text-align: left;
}


.octubre {
  background-color: #35383d;
  color: var(--primary-color);
 
}


.card-title {
  padding: 1rem 0rem;
}


.formulario {
  display: flex;
  justify-content: center;

}

#form-contacto {
  border-style: none;
}

.datos {
  display: flex;
  flex-direction: row;
  margin: 1.5%;
}



#boton-enviar {
  background-color: rgb(150, 194, 29);
  border-style: none;
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1%;
  
}

.footer-nav {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  background-color: #094459;
  color: var(--primary-color);
}




/*-------ESTILOS PAGINA COMPRAR TICKETS----------*/
.descuentos{
  display: flex;
  justify-content: center;
  padding: 3%;

}


.categorias{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: solid;  
  border-color: blue;
  padding: 1.5%;
  margin: 0.5%;
}


.botones-comprar{
  display: flex;
  flex-direction: row;
  
}

